* {
    font-family: cursive, sans-serif;
}


body
{
    background-color: rgb(218, 212, 236);
}

    

h1{
    display:flex;
}

h2{
  margin-left:50px;
  margin-right:50px;
 float: left;
}

header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: rgb(218, 212, 236);
}

.Name{
    color: rgb(58, 84, 133); 
}

.card {
        
        border-width: 1px;
        padding-left: 25px;
        padding-right: 25px;
        flex: 1 0 100px;
        margin: -1px;
        color: rgb(42, 87, 170);
        justify-content: space-between;

}

.h1card {
    border-width: 1px;
    padding-left: 0px;
    padding-right: 25px;
    margin: 14px;
    color: rgb(42, 87, 170);
}

nav{
text-align: center;

}

p{
  display: flex;
  margin-left:50px;
  flex-direction: row;
  flex-wrap: wrap;
  
}

article{

}

.row {
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding-left: 0px;
  }

.wrow {
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding-left: 0px;
    align-content: center;
  }

.frow {
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding-left: 20px;
    text-align:center;
    margin:10px;
    
  }
  
  li{
      display:inline;
      justify-content: center;
      
  }


  
img
{
  display: flex;
  margin: 15px;
  flex-direction: row;
  flex-wrap: wrap;

}

.Warwick
{
border-image-source: "https://tjex07.github.io/League-Website-2014/Warwick.html";
}

@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
  }

  main {
    max-width: 1200px;
  }
}